<footer>
    <!-- Widgets Start -->
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-6">
                    <div class="single-widget contact-widget" data-aos="fade-up" data-aos-delay="0">
                        <h6 class="widget-tiltle">Contactate</h6>
                        <div class="media">
                            <i class="fa fa-envelope-o"></i>
                            <div class="media-body ml-3">
                                <h6>¿Ténes alguna pregunta?</h6>
                                <a href="tarotcosmica@gmail.com">tarotcosmica@gmail.com</a>
                            </div>
                        </div>
                        <div class="media">
                            <i class="fa fa-phone"></i>
                            <div class="media-body ml-3">
                                <h6>Mandáme un whatsapp</h6>
                                <a href="https://api.whatsapp.com/send?phone=541127782468" class="tel">+54 9 11
                                    2778-2468</a>
                            </div>
                        </div>

                        <div class="media">
                            <i class="fa fa-facebook"></i>
                            <div class="media-body ml-3">
                                <h6>Encontrame en Facebook</h6>
                                <a href="https://www.facebook.com/cosmicatarot-114161293570553">como Cosmica
                                    Tarot</a>
                            </div>
                        </div>

                        <div class="media">
                            <i class="fa fa-instagram"></i>
                            <div class="media-body ml-3">
                                <h6>Encontrame en instagram</h6>
                                <a href="https://www.instagram.com/cosmica.tarot/">como cosmica.tarot</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="col-md-6 col-xl-4">
                    <div class="single-widget recent-post-widget" data-aos="fade-up" data-aos-delay="400">
                        <h6 class="widget-tiltle">Experiencia de las personas</h6>
                        <div class="media">

                            <div class="media-body ml-3">
                                <h6>An engaging</h6>
                                <p><i class="fa fa-user"></i>Mano <i class="fa fa-caret-up"></i> Cancer</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body ml-3">
                                <h6>Statistics and analysis. The key to succes.</h6>
                                <p><i class="fa fa-user"></i>Rosias <i class="fa fa-caret-up"></i> Piscis</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body ml-3">
                                <h6>Envato Meeting turns into a photoshooting.</h6>
                                <p><i class="fa fa-user"></i>Kien <i class="fa fa-caret-up"></i> Tauro</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body ml-3">
                                <h6>An engaging embedded the video posts</h6>
                                <p><i class="fa fa-user"></i>Robert <i class="fa fa-caret-up"></i> Geminis</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body ml-3">
                                <h6>An engaging embedded the video posts</h6>
                                <p><i class="fa fa-user"></i>Daiana <i class="fa fa-caret-up"></i> Leo</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="suscribite col-md-6 col-xl-6">
                    <!--
                    <div class="single-widget tags-widget" data-aos="fade-up" data-aos-delay="800">
                        <h6 class="widget-tiltle">Tags populares</h6>
                        <a href="#">Cancer</a>
                        <a href="#">Meme</a>
                        <a href="#">amor</a>
                        <a href="#">Piscis</a>
                        <a href="#">Geminis</a>
                        <a href="#">marte</a>
                    </div>

                    -->
                    <div class="suscribite single-widget subscribe-widget" data-aos="fade-up" data-aos-delay="800">
                        <h6 class="widget-tiltle">Suscribite</h6>
                        <p>Recibi tu signo mensualmente a tu casilla de correo</p>
                        <form class="" method="get">
                            <div class="input-group">
                                <input class="field form-control" name="subscribe" type="email"
                                    placeholder="Ingresá tu e-mail">
                                <span class="input-group-btn">
                                    <button type="submit" name="submit-mail"><i
                                            class="fa fa-check"></i></button>
                                </span>
                            </div>
                        </form>
                        <p>Respetamos tu privacidad</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Widgets End -->
    <!-- Foot Note Start -->
    <div class="foot-note">
        <div class="container">
            <div
                class="footer-content text-center text-lg-left d-lg-flex justify-content-between align-items-center">
                <p class="mb-0" data-aos="fade-right" data-aos-offset="0">&copy; 2021 Todos los derechos
                    reservados a Cósmica Tarot. Página diseñada por <a
                        href="https://www.linkedin.com/in/roberto-leandro-veintemilla-429a888a/" target="_blank"
                        class="fh5-link">Roberto Veintemilla</a>.</p>
                <!--<p class="mb-0" data-aos="fade-left" data-aos-offset="0"><a href="#">Terms Of Use</a><a
                    href="#">Privacy & Security
                    Statement</a></p>-->
            </div>
        </div>
    </div>
    <!-- Foot Note End -->
</footer>
