<footer>
    <!-- Widgets Start -->
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="contactate col-md-6 col-xl-6">
                    <div class="single-widget contact-widget" data-aos="fade-up" data-aos-delay="0">
                        <h6 class="widget-tiltle">Contactate</h6>
                        <div class="media">
                            <i class="fa fa-envelope-o"></i>
                            <div class="media-body ml-3">
                                <h6>¿Ténes alguna pregunta?</h6>
                                <a href="mailto:tarotcosmica@gmail.com">tarotcosmica@gmail.com</a>
                            </div>
                        </div>
                        <div class="media">
                            <i class="fa fa-phone"></i>
                            <div class="media-body ml-3">
                                <h6>Mandáme un whatsapp</h6>
                                <a href="https://api.whatsapp.com/send?phone=541127782468" class="tel">+54 9 11
                                    2778-2468</a>
                            </div>
                        </div>

                        <div class="media">
                            <i class="fa fa-facebook"></i>
                            <div class="media-body ml-3">
                                <h6>Encontrame en Facebook</h6>
                                <a href="https://www.facebook.com/cosmicatarot-114161293570553">como Cosmica
                                    Tarot</a>
                            </div>
                        </div>

                        <div class="media">
                            <i class="fa fa-instagram"></i>
                            <div class="media-body ml-3">
                                <h6>Encontrame en Instagram</h6>
                                <a href="https://www.instagram.com/cosmica.tarot/">como cosmica.tarot</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="contactate col-md-6 col-xl-6">                   
                    <div class="single-widget contact-widget footer-widgets-right" data-aos="fade-up" data-aos-delay="0">
                        <h5 class="widget-tiltle">Sitio</h5>
                        <div class="media">
                            <div class="media-body ml-3">
                                <a href="/"><h6>INICIO</h6></a>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body ml-3">
                                <a  href="/horoscopo"><h6>HOROSCOPO</h6></a>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body ml-3">
                                <a  href="/service"><h6>SERVICE</h6></a>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body ml-3">
                                <a  href="/aboutme"><h6>SOBRE MÍ</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Widgets End -->
    <!-- Foot Note Start -->
    <div class="foot-note">
        <div class="container">
            <div
                class="footer-content text-center text-lg-left d-lg-flex justify-content-between align-items-center">
                <p class="mb-0" data-aos="fade-right" data-aos-offset="0">&copy; 2021 Todos los derechos
                    reservados a Cósmica Tarot. Página diseñada por <a
                        href="https://www.linkedin.com/in/roberto-leandro-veintemilla-429a888a/" target="_blank"
                        class="fh5-link">Roberto Veintemilla</a>.</p>
                <!--<p class="mb-0" data-aos="fade-left" data-aos-offset="0"><a href="#">Terms Of Use</a><a
                    href="#">Privacy & Security
                    Statement</a></p>-->
            </div>
        </div>
    </div>
    <!-- Foot Note End -->
</footer>
