<header class="w-100">
    <div class="container">
        <div class="top-header d-none d-sm-flex justify-content-between align-items-center">
            <div class="contact">
                <a href="https://api.whatsapp.com/send?phone=541127782468" class="tel"><i class="fa fa-phone" aria-hidden="true"></i>+54 9 11
                    2778-2468</a>
                <a href="tarotcosmica@gmail.com"><i class="fa fa-envelope"
                        aria-hidden="true"></i>tarotcosmica@gmail.com</a>
            </div>
            <nav class="d-flex aic">
                <a href="login" class="login"><i class="fa fa-user" aria-hidden="true"></i>Iniciar
                    Sesión
                </a>
                <ul class="nav social d-none d-md-flex">
                    <li><a href="https://www.facebook.com/cosmicatarot-114161293570553" target="_blank"><i
                                class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/cosmica.tarot/" target="_blan"><i
                                class="fa fa-instagram"></i></a></li>

                </ul>
            </nav>
        </div>
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/"><img src="/images/cosmicatarot.png"
                    alt="Cósmica Tarot" class="imglogo"></a>
            <div class="group d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <a class="login-icon d-sm-none" href="#"><i class="fa fa-user"></i></a>

            </div>
            <a class="search-icon d-none d-md-block" href="#"><i class="fa fa-search"></i></a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/#MyBlog">Mi Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="horoscopo">Horoscopo</a></li>
                    <li class="nav-item"><a class="nav-link" href="service">Sesiones</a></li>
                    <li class="nav-item"><a href="https://api.whatsapp.com/send?phone=541127782468"
                            class="nav-link">Contactame</a></li>
                    <li class="nav-item"><a class="nav-link" href="aboutme">Sobre mi</a></li>
                </ul>
                <form class="bg-white search-form" method="get" id="searchform">
                    <div class="input-group">
                        <input class="field form-control" id="s" name="s" type="text" placeholder="Buscar">
                        <span class="input-group-btn">
                            <input class="submit btn btn-primary" id="searchsubmit" name="submit" type="submit"
                                value="Buscar">
                        </span>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</header>