<!doctype html>
<html lang="es-Ar">

<%- include('partials/head') %>

<body>    
    <div class="bodybg">
        <!-- Header Start -->
        <%- include('partials/header') %> 
        <!-- Header End-->
        <section class="hero">

            <div class="texture"></div>
            <div class="diag-bg"></div>
        </section>

        <section class="recent-posts ricing-table">
            <div class="container">
                <div class="testimonials">
                    <div class="title text-center">
                        <h1 class="title-blue">sobre mi</h1>
                    </div>
                    <section class="cta" data-aos="fade-up" data-aos-delay="0">
                        <div class="cta-contentbox d-xl-flex align-items-center justify-content-around text-center text-xl-left">
                            <div class="content text-center">
                                <div class="test-img">
                                    <img src="/images/daimosqui1.jpg" alt="">
                                </div>
                                <h2>Dai Mosqueiras</h2>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto assumenda quasi officiis, sint nostrum magnam laborum ab iusto quisquam, rem, ea explicabo reprehenderit saepe nam labore id in! Eum, nam.
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <!-- Footer Start-->
        <%- include('partials/footer') %> 
        <!-- Fotter End-->

    </div>
    <!-- Scripts Start-->
    <%- include('partials/scripts') %> 
    <!-- Scripts End-->
</body>
</html>