<!doctype html>
<html lang="es-Ar">

<%- include('partials/head') %> 

<body>
   
    <div class="bodybg">
        <!-- Header Start -->
        <%- include('partials/header') %> 
        <!-- Header End-->       

        <section class="recent-posts">
            <div class="container">
                <form action="" method="post">
                    
                    <div class="signopost" style="display: flex; justify-content: center; flex-direction: column;">
                        <h6>Elija opción signo del post</h6>
                        <select name="optsigno" id="signopt">
                            <option value="ALL">Todos</option>
                            <option value="CAP">Capricornio</option>
                            <option value="ACU">Acuario</option>
                            <option value="PIS">Piscis</option>
                            <option value="ARI">Aries</option>
                            <option value="TAU">Tauro</option>
                            <option value="GEM">Geminis</option>
                            <option value="CAN">Cancer</option>
                            <option value="LEO">Leo</option>
                            <option value="VIR">Virgo</option>
                            <option value="LIB">Libra</option>
                            <option value="ESC">Escorpio</option>
                            <option value="SAG">Sagitario</option>
                        </select>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                    <div class="text-center formtitulo">
                        <input class="form-control form-control-lg" type="text"
                            placeholder="Escribe un titulo para el post">
                        <input class="form-control" type="text" placeholder="Escribe un subtitulo al post">
                    </div>
                    <div class="cta-content" style="padding:1em 3em">
                        <div class="hero-unit">
                            <textarea class="textarea" placeholder="Empieza con algo motivador..."
                                style="width: 100%; height: 200px"></textarea>
                        </div>
                        <div class="tagsenter">
                            <h6>Ingresé tags separados por coma</h6>
                            <textarea name="tags" id="tags" style="width: 100%; height: 100px"></textarea>
                        </div>                        
                        <div class="d-flex justify-content-center">
                            <div class="subscribe-btn" data-aos="fade-left" data-aos-delay="400" data-aos-offset="0" style="display: flex; margin-bottom: 2em;">
                                <input type="submit" value="Guardar" class="btn2 btn-primary" style="margin:0 .5em">
                                <input type="submit" value="Cancelar" class="btn2 btn-primary" style="margin:0 .5em">
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <!-- Footer Start-->
        <%- include('partials/footer') %> 
        <!-- Fotter End-->

    </div>
   <!-- Scripts Start-->
   <%- include('partials/scripts') %> 
   <!-- Scripts End-->

</body>

</html>