<!doctype html>
<html lang="es-Ar">

<%- include('partials/head') %>

<body>    
    <div class="bodybg">
        <!-- Header Start -->
        <%- include('partials/header') %> 
        <!-- Header End-->
        <section class="hero">

            <div class="texture"></div>
            <div class="diag-bg"></div>
        </section>

        <section class="services">
            <div class="container">
                <div class="title text-center">
                    <h1 class="title-blue" id="Myblog">Resultado de tu busqueda</h1>
                    <h4 class="title-blue">Con x resultados para palabrabuscada</h4>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 border-radius">
                            <div class="media rounded-bottom" data-aos="fade-up" data-aos-delay="200"
                                data-aos-duration="400">
                                <div class="imgblog">
                                    <a href="/post.html"><img
                                            src="assets/images/07_ small-kitchen-homepersonalshopper.jpg"
                                            alt="Web Development"></a>
                                </div>
                                <div class="media-body">
                                    <h5>Mira la nueva casa</h5>
                                    <h6>Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Start-->
        <%- include('partials/footer') %> 
        <!-- Fotter End-->

    </div>
    <!-- Scripts Start-->
    <%- include('partials/scripts') %> 
    <!-- Scripts End-->
</body>
</html>