<!doctype html>
<html lang="es-Ar">

<%- include('partials/head') %>
<script src="/javascripts/geo.js"></script>

<body>    
    <div class="bodybg">
        <!-- Header Start -->
        <%- include('partials/header') %> 
        <!-- Header End-->
        <section class="hero">

            <div class="texture"></div>
            <div class="diag-bg"></div>
        </section>

        <section class="recent-posts ricing-table">
            <div class="container">
                <div class="title text-center">
                    <h1 class="title-blue">Precio de las sesiones</h1>
                </div>
                <section class="cta" data-aos="fade-up" data-aos-delay="0">                    
                        <div class="cta-content d-xl-flex align-items-center justify-content-around text-center text-xl-left" data-aos="fade-right" data-aos-delay="200">
                            <div class="content text-center" data-aos="fade-right" data-aos-delay="200" >
                                <h2>TIRADA COMPLETA</h2>
                                <p>Consiste en una tirada atrológica donde visualizamos todos los aspectos de tu vida. <br><br><i class="fa fa-star"></i>Amor <i class="fa fa-star"></i>Pareja <i class="fa fa-star"></i>Salud <i class="fa fa-star"></i>Dinero <i class="fa fa-star"></i>Familia <i class="fa fa-star"></i>Trabajo <i class="fa fa-star"></i>Amistades <i class="fa fa-star"></i>Entorno <i class="fa fa-star"></i>Viajes <i class="fa fa-star"></i>Mudanzas <i class="fa fa-star"></i>Entre otros<br><br>Al final incluye tres preguntas para que puedas evacuar cualquier otra duda.
                                </p>
                            </div>                            
                        </div> 
                        
                        <div class="cta-content d-xl-flex align-items-center justify-content-around text-center text-xl-left" data-aos="fade-right" data-aos-delay="200">
                            <div class="content text-center" data-aos="fade-right" data-aos-delay="200" >
                                <h2>TIRADA DE VINCULO O PAREJA</h2>
                                <p>Consiste en un tirada donde podemos ver en profundidad un vinculo, ya sea pareja, amistad , familar, etc. <br> Vemos ambas partes, que energía hay en cada lado; pasado, presente y futuro. <br>Se ve como resultará y se le dá consejo al consultante. <br> Al finalizar podes realizar hasta 3 preguntas.
                                </p>
                            </div>                            
                        </div>

                        <div class="cta-content d-xl-flex align-items-center justify-content-around text-center text-xl-left" data-aos="fade-right" data-aos-delay="200">
                            <div class="content text-center" data-aos="fade-right" data-aos-delay="200" >
                                <h2>TIRADA EXPRESS</h2>
                                <p>Tirada ideal para aquell@s que no pueden esperar turno ya que se realizan en el día con dosponibilidad inmediata según agenda diaria. <br> Consiste en 3 preguntas puntuales dónde podes evacuar dudas sobre cualquier tema, ya sea amor, salud, dinero, trabajo, etc.
                                </p>
                            </div>                            
                        </div> 
                </section>

                <!--Lista de precios de las sesiones-->
                <div class="row no-gutters" id="price">
                    <div class="col-md-4">
                        <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="0"
                            data-aos-duration="600">                            
                            <h2>TIRADA DE VINCULO</h2>
                            <p class="desc">Tirada sobre algún familiar</p>                            
                            <h4>Tiempo sesión</h4>
                            <p>20' a 40'</p>                           
                            <a href="https://wa.me/p/4822503661096819/5491127782468" class="btn btn-primary">Compra en Argentina</a>
                            <svg viewBox="0 0 170 193">
                                <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                                    d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                            </svg>
                            <a href="buy.html" class="btn btn-primary">Compra internacional</a>
                            <svg viewBox="0 0 170 193">
                                <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                                    d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                            </svg>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="300"
                            data-aos-duration="600">
                            <h2>TIRADA COMPLETA</h2>
                            <p class="desc">Tirada astrológica</p>
                            
                            <h4>Tiempo sesión</h4>
                            <p>de 45' a 1hs 15'</p>
                            <a href="https://wa.me/p/3334325749994320/5491127782468" class="btn btn-primary">Compra en Argentina</a>
                            <svg viewBox="0 0 170 193">
                                <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                                    d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                            </svg>
                            <a href="buy.html" class="btn btn-primary">Compra internacional</a>
                            <svg viewBox="0 0 170 193">
                                <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                                    d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                            </svg>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="600"
                            data-aos-duration="600">
                            
                            <h2>TIRADA EXPRESS</h2>
                            <p class="desc">Tirada en el día</p>                          
                            <h4>Tiempo sesión</h4>
                            <p>Dependerá de tus 3 preguntas</p>
                            <h4>Precio</h4> 
                            <a href="https://wa.me/p/3406072279459723/5491127782468" class="btn btn-primary">Compra en Argentina</a>
                            <svg viewBox="0 0 170 193">
                                <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                                    d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                            </svg>
                            <a href="buy.html" class="btn btn-primary">Compra internacional</a>
                            <svg viewBox="0 0 170 193">
                                <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                                    d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Start-->
        <%- include('partials/footer') %> 
        <!-- Fotter End-->

    </div>
    <!-- Scripts Start-->
    <%- include('partials/scripts') %> 
    <!-- Scripts End-->
</body>
</html>